
/* css */

body {
    background-color: #1DB954;
}

h1 {
    color: black;
    text-align: center;
    font-size: 100px;
}

p {
    font-weight: 500;
    font-size: 30px;
    color: black;
}

li {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

img {
    border-radius: 25px;
}

.test {
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 25px;
    height: 60px;
    font-size: 45px;
    white-space: nowrap;
}

.navbar-custom {
    height: 60px;
}

.question {
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.blankSpace1 {
    height: 200px;
}

/* .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
} */

.blankSpace2 {
    height: 100px;
}

#inputValues {
    text-align: right;
}
