
/* css */

body {
    background-color: #1DB954;
}

h1 {
    color: black;
    text-align: center;
    font-size: 100px;
}

p {
    font-weight: 500;
    font-size: 30px;
    color: black;
}

li {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

img {
    border-radius: 25px;
}

.test {
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 25px;
    font-size: 45px;
}

.navbar-custom {
    height: 60px;
}

.navbar-custom.navbar-expand-md .navbar-collapse {
    background-color: black;
} 

.question {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.blankSpace1 {
    height: 200px;
}

.blankSpace2 {
    height: 100px;
}

#inputValues {
    text-align: right;
}
